body{
  margin:0;
  font-family: Arial;
  background:#0f172a;
  color:white;
  text-align:center;
  padding:10px;
}

h1{
  margin:10px 0;
}

/* SEARCH */
#search{
  width:100%;
  padding:12px;
  border-radius:10px;
  border:none;
  margin-bottom:5px;
}

#results{
  text-align:left;
}

.result{
  background:#1e293b;
  padding:10px;
  margin:2px 0;
  border-radius:8px;
  cursor:pointer;
}

/* DASHBOARD */
.grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:10px;
}

.card{
  background:#1e293b;
  padding:15px;
  border-radius:15px;
}

.highlight{
  background:#ef4444;
}

/* HISTORY */
#history{
  text-align:left;
  margin-top:10px;
  font-size:12px;
  opacity:0.9;
}

/* MAP */
#map{
  height:280px;
  margin-top:10px;
  border-radius:10px;
}
