body{
  margin:0;
  font-family: Arial;
  background:#0f172a;
  color:white;
  text-align:center;
}

h1{padding:10px;}

#search{
  width:95%;
  padding:10px;
  margin:5px;
}

#results{
  text-align:left;
  margin:0 10px;
}

.result{
  background:#1e293b;
  padding:8px;
  margin:3px 0;
  border-radius:8px;
  cursor:pointer;
}

.grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:10px;
  padding:10px;
}

.card{
  background:#1e293b;
  padding:15px;
  border-radius:12px;
}

.highlight{background:#ef4444;}

#map{
  height:300px;
  margin-top:10px;
}
